div.question_info {
    text-align: center;
    background-color: var(--background-color);
    // border: 1px solid var(--text-shade);
    border: 3px solid var(--shadow-color);
    box-shadow: 0 0 20px var(--shadow-color); //var(--text-color);
    max-width: 75vw;
    min-width: 580px;
    padding: 18px;
    user-select: none;
    opacity: var(--modal-opacity);


    &__actions {
        text-align: right;
        position: absolute;
        top: 6px;
        right: 6px;
        width: 300px;
        height: 30px;

        div {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 999994;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

    }


    &__approve {
        background-image: var(--approve-icon);
    }

    &__archive {
        background-image: var(--archive-icon);
    }

    &__unarchive {
        background-image: var(--unarchive-icon);
    }

    &__edit {
        background-image: var(--edit-icon);
    }

    &__close {
        background-image: var(--close-icon);
    }


    // table.list {
    //     display: inline-block;
    //     border: 0;
    // }

}


div.compare {
    background-color: var(--background-color);
    // background-color: blue;
    // border: 1px solid var(--text-shade);
    border: 3px solid var(--shadow-color);
    box-shadow: 0 0 20px var(--shadow-color); //var(--text-color);
    max-width: 89vw;
    // min-width: 75vw;

    padding: 10px;
    user-select: none;
    opacity: var(--modal-opacity);

    table.list {
        // width: 100%;
        width: 75vw;
        max-width: 89vw;
        border: 0;

        td {
            max-width: 300px;
        }

    }

    &__actions {
        text-align: right;
        position: absolute;
        top: 6px;
        right: 6px;
        width: 50px;
        height: 30px;

        div {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 999994;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

    }

    &__close {
        background-image: var(--close-icon);
    }
   
}