@use 'icons';

:root:has(body.light) {
    color-scheme: normal;

    --highlight: #3b9abe;
    --highlight-midblend: #3b9abe9a;
    --highlight-blend: #3b9abe33;

    --shadow-color: #7abad3;

    --background-color: #ffffff;
    --background-gradient: #f5f7ff;
    --background-shade: #eff1fc;

    --text-color: #000000;
    --text-highlight: #114050;

    --gear-in: #3b9abe;
    --gear-mid: #7abad3;
    --gear-out: #d8ebf2;

    --modal-color: white;

    --construction: #f8b26a;

    @include icons.icons("3b9abe", '000000');

    .logo {
        filter: invert(100%);
    }

    div.login_container::before {
        filter: invert(100%);
    }

}