@use 'icons';

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(fonts/Rubik.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    color-scheme: dark;
    --header-height: 200px;
    --footer-height: 100px;
    --menu-width: 240px;

    --neutral-color: #333333;

    --background-color: #000000;
    --background-gradient: #111111AA;
    --background-shade: #ffffff1a;
    --text-color: #ffffff;
    --text-shade: #929292;
    --text-highlight: #d3a3a0;

    --highlight: #c2190e;
    --highlight-midblend: #c21a0e9a;
    --highlight-blend: #c21a0e33;
    
    --blink-color: #c5c2a1;
    --stroke-color: #ff003a;

    --gear-in: #c2190e;
    --gear-mid: #841209;
    --gear-out: #270503;

    --construction: #e76915;

    --shadow-color: #841209;
    --modal-color: #000000;
    --modal-opacity: 0.9;

    --scheme-transition: 250ms;
    --blink-speed: 1s;
    --modal-spin: 1s;

    // --paper-plane: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 100 100'%3E%3Cpath fill='%23c2190e' d='m90 14.8-.1-.5v-.1l-.1-.1-.2-.3-.4-.4-.5-.2H88l-.5.1-76.3 32.2c-.7.3-1.1.9-1.2 1.7s.3 1.4 1 1.8l14.8 8.2 11.8 28.5c.2.5.6.9 1.2 1.1l.6.1c.6 0 1.2-.3 1.5-.8l11-14.5 18.3 10.1a2 2 0 0 0 1.7.1c.6-.2 1-.7 1.1-1.3l16.9-65 .1-.7c0 .1 0 .1 0 0zM16.4 47.5l53.8-22.8-42.9 28.8-10.9-6zm21.7 13.6a2 2 0 0 0-.6 1.4v12.7l-7.7-18.7 41.7-28-33.4 32.6zm3.3 4.7 7.2 4-7.2 9.5V65.8zM70 77.1l-17.6-9.7-9.7-5.4 41.8-40.8L70 77.1z'/%3E%3C/svg%3E");

    @include icons.icons("c2190e");
    

    --logo: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23e15c64' d='m64.3 39.5.1-2.2-.1-2.2-6.3-1.2a28 28 0 0 0-1-3.9l4.8-4.3c-.6-1.3-1.3-2.6-2.2-3.7l-6.1 2c-.9-1-1.8-2-2.9-2.9l2-6.1a45 45 0 0 0-3.7-2.2l-4.3 4.8a16 16 0 0 0-3.9-1l-1.3-6.3-2.2-.1-2.2.1-1.3 6.3a28 28 0 0 0-3.9 1l-4.3-4.8c-1.3.6-2.6 1.3-3.7 2.2l2 6.1c-1 .9-2 1.8-2.9 2.9l-6.1-2a45 45 0 0 0-2.2 3.7l4.8 4.3a16 16 0 0 0-1 3.9l-6.3 1.3-.1 2.2.1 2.2 6.3 1.3a28 28 0 0 0 1 3.9l-4.8 4.3c.6 1.3 1.3 2.6 2.2 3.7l6.1-2c.9 1 1.8 2 2.9 2.9l-2 6.1a45 45 0 0 0 3.7 2.2l4.3-4.8c1.2.5 2.5.8 3.9 1l1.3 6.3 2.2.1 2.2-.1 1.3-6.3a28 28 0 0 0 3.9-1l4.3 4.8c1.3-.6 2.6-1.3 3.7-2.2l-2-6.1c1-.9 2-1.8 2.9-2.9l6.1 2a45 45 0 0 0 2.2-3.7L57 44.8a16 16 0 0 0 1-3.9l6.3-1.4zM37.2 51a13.6 13.6 0 1 1 0-27.2 13.6 13.6 0 0 1 0 27.2z'/%3E%3Cpath fill='%23f7b26a' d='m77.2 52.5-1.5-.5-1.5-.3-2.1 4.1a14 14 0 0 0-2.9 0l-2.1-4.1-3 .8.3 4.6-2.5 1.4-3.7-2.5-2.2 2.2 2.5 3.9c-.6.8-1 1.6-1.4 2.5l-4.6-.3-.5 1.5-.3 1.5 4.1 2.1a14 14 0 0 0 0 2.9l-4.1 2.1.8 3 4.6-.3 1.4 2.5-2.5 3.7 2.2 2.2L62 83c.8.6 1.6 1 2.5 1.4l-.3 4.6 1.5.5 1.5.3 2.1-4.1h2.9l2.1 4.1 3-.8-.3-4.6 2.5-1.4 3.9 2.5 2.2-2.2-2.6-3.8c.6-.8 1-1.6 1.4-2.5l4.6.3.5-1.5.3-1.5-4.1-2.1v-2.9l4.1-2.1-.8-3-4.6.3L83 62l2.5-3.9-2.2-2.2-3.9 2.5c-.8-.6-1.6-1-2.5-1.4l.3-4.5zm2.9 20.7a9.8 9.8 0 0 1-11.9 6.9 9.8 9.8 0 0 1-6.9-11.9 9.8 9.8 0 0 1 11.9-6.9 9.8 9.8 0 0 1 6.9 11.9z'/%3E%3Cpath fill='%23f47e5f' d='M49 77.3c.1-1 0-2-.3-2.9l2.4-1.9-.1-.3-.9-1.7-.2-.3-2.9.9a6.8 6.8 0 0 0-2.3-1.8l.3-3-.3-.1-.9-.3-.9-.2-.4-.1-1.5 2.6c-1-.1-2 0-2.9.3l-1.9-2.4-.3.1-1.7.9-.3.2.9 2.9c-.7.6-1.4 1.4-1.8 2.3l-3-.3-.1.3-.3.9-.2.9-.1.4 2.7 1.4c-.1 1 0 2 .3 2.9l-2.5 2 .1.3.9 1.7.2.3 2.9-.9c.6.7 1.4 1.4 2.3 1.8l-.3 3 .3.1.9.3.9.2.4.1 1.4-2.7c1 .1 2 0 2.9-.3l1.9 2.4.3-.1 1.7-.9.3-.2-.9-2.9c.7-.6 1.4-1.4 1.8-2.3l3 .3.2-.2.3-.9.2-.9.1-.4-2.6-1.5zm-4 .8a5 5 0 0 1-2.3 2.8 5 5 0 0 1-3.6.4c-1.2-.4-2.2-1.2-2.8-2.3s-.7-2.4-.4-3.6 1.2-2.2 2.3-2.8c.7-.4 1.5-.6 2.3-.6l1.4.2c1.2.4 2.2 1.2 2.8 2.3s.6 2.4.3 3.6z'/%3E%3Cpath fill='%23acbd81' d='M86.5 37.2c-.4-.9-.9-1.7-1.5-2.5l1.3-2.8-.3-.1a9 9 0 0 0-1.6-1.1l-.3-.2-2.2 2.1c-.9-.4-1.9-.6-2.8-.7L78 29h-.4l-1 .1-1 .2-.4.1-.1 3c-.9.4-1.7.9-2.5 1.5l-2.8-1.3-.2.3a9 9 0 0 0-1.1 1.6v.5l2.1 2.2c-.3.9-.6 1.8-.6 2.8l-2.9 1v.4l.1 1 .2 1 .1.4 3 .1c.4.9.9 1.7 1.5 2.5L70.9 49l.3.2 1.6 1.1.3.2 2.2-2.1c.9.4 1.9.6 2.8.7l1 2.9h.4l1-.1 1-.2.4-.1.1-3c.9-.4 1.7-.9 2.5-1.5l2.8 1.3.2-.3 1.1-1.6.2-.3-2.1-2.2c.4-.9.6-1.9.7-2.8l2.9-1v-.4l-.1-1-.2-1-.1-.4-3.4-.2zm-3.2 2.5a5 5 0 0 1-.8 3.6c-.7 1-1.8 1.7-3.1 1.9-1.3.2-2.5-.1-3.6-.8s-1.7-1.8-1.9-3.1a5 5 0 0 1 .8-3.6c.5-.7 1.1-1.2 1.8-1.5l1.3-.4a5 5 0 0 1 3.6.8c1 .7 1.7 1.8 1.9 3.1z'/%3E%3C/svg%3E");
    --paper-plane: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 100 100'%3E%3Cpath fill='%23f47e60' d='M37.3 76.2 24.1 63c-1-1-.6-2.7.8-3l7-2.2 10.7 10.7-2.2 7a1.9 1.9 0 0 1-3 .7z'/%3E%3Cpath fill='%23e15b64' d='M52.6 92.8c7.6-6.4 4.2-13.3-.2-19.3a6.6 6.6 0 0 1-.1-7.7l6.9-9.9a5.4 5.4 0 0 1 9.4 1c5.6 13.1 4 30.2-16 36zm-45.1-45c6.5-7.7 13.3-4.3 19.3.2a6.6 6.6 0 0 0 7.7 0l10-6.8c3.4-2.5 2.8-7.8-1-9.4-13.1-5.6-30.2-4-36 16z'/%3E%3Cpath fill='%23e0e0e0' d='M76.2 56.9C65.6 67.5 52.1 72 42.4 69L31.2 58c-2.9-9.7 1.8-23.3 12.3-34C62 5.6 86.5 5.2 90.4 9.1s4 29.6-14.2 47.8z'/%3E%3Ccircle cx='69.5' cy='30.8' r='8.4' fill='%2377a4bd' transform='rotate(-45 69.5 30.8)'/%3E%3Cpath fill='%23f47e60' d='M90.4 9.2c-2-2-9.2-3-18.2-1l19.4 19.5c1.7-9.2.8-16.6-1.2-18.5z'/%3E%3Cpath fill='%23c33737' d='M26.5 87.4 34 72.8l-3.2-3.2-3.3-3.3L13 73.7l6.4 1.2L13 87.2l-.4.4.3-.1-.2.2.4-.3L25.3 81z'/%3E%3C/svg%3E");

    
    --approve-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='3' width='18' height='18' rx='3' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5 10L11 14.5' stroke='%23c2190e' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M9 12.5L11 14.5' stroke='%23c2190e' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    --archive-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 16L12 8' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 16L15 13.5' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 16L9 13.5' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='3' y='3' width='18' height='18' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --unarchive-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8L12 16' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8L15 10.5' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8L9 10.5' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='3' y='3' width='18' height='18' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --draggable-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23c2190e' d='M8.5 17c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm7-10c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-7 3c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm7 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 7c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-7-14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/%3E%3C/svg%3E");
    --user-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='7' r='3' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 13H10C7.79086 13 6 14.7909 6 17C6 18.6569 7.34315 20 9 20H15C16.6569 20 18 18.6569 18 17C18 14.7909 16.2091 13 14 13Z' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --userx-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='7' r='3' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 13H7C4.79086 13 3 14.7909 3 17C3 18.6569 4.34315 20 6 20H12C13.6569 20 15 18.6569 15 17C15 14.7909 13.2091 13 11 13Z' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 7.5L16.5 11M16.5 7.5L20 11' stroke='%23c2190e' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");

    
    --arrow-down-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 16L12 8' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 16L15 13.5' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 16L9 13.5' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='3' y='3' width='18' height='18' rx='9' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --arrow-up-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8L12 16' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8L15 10.5' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8L9 10.5' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='3' y='3' width='18' height='18' rx='9' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

    --swap-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='12' cy='6' rx='8' ry='2' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 12C20 13.1046 16.4183 14 12 14C7.58172 14 4 13.1046 4 12' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 6V18C4 19.1046 7.58172 20 12 20C16.4183 20 20 19.1046 20 18V6' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --new-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7.75732L12 16.2426' stroke='%23c2190e' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M7.75735 12L16.2426 12' stroke='%23c2190e' stroke-width='2' stroke-linecap='round'/%3E%3Crect x='3' y='3' width='18' height='18' rx='3' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --view-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9604 11.4802C19.9604 13.8094 19.0227 15.9176 17.5019 17.4512C16.9332 18.0247 16.2834 18.5173 15.5716 18.9102C14.3594 19.5793 12.9658 19.9604 11.4802 19.9604C6.79672 19.9604 3 16.1637 3 11.4802C3 6.79672 6.79672 3 11.4802 3C16.1637 3 19.9604 6.79672 19.9604 11.4802Z' stroke='%23c2190e' stroke-width='2'/%3E%3Cpath d='M18.1553 18.1553L21.8871 21.8871' stroke='%23c2190e' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    --rename-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.767 5.01352L17.5484 7.88824L7.48685 17.623L3.94013 18.2717L4.70549 14.7483L14.767 5.01352Z' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='12' y1='18' x2='17' y2='18' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --users-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='7' r='3' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 10C15.6569 10 17 8.65685 17 7C17 5.34315 15.6569 4 14 4' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 13H7C4.79086 13 3 14.7909 3 17C3 18.6569 4.34315 20 6 20H12C13.6569 20 15 18.6569 15 17C15 14.7909 13.2091 13 11 13Z' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 13C19.2091 13 21 14.7909 21 17C21 18.6569 19.6569 20 18 20' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

    --checkmark-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15.5 10L11 14.5' stroke-width='2' stroke-linecap='round' stroke='%23333333'/%3E%3Cpath d='M9 12.5L11 14.5' stroke-width='2' stroke-linecap='round' stroke='%23333333'/%3E%3Crect x='3' y='3' width='18' height='18' rx='9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' stroke='%23333333' /%3E%3C/svg%3E");
    --checkmark-hover-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15.5 10L11 14.5' stroke-width='2' stroke-linecap='round' stroke='%23008000'/%3E%3Cpath d='M9 12.5L11 14.5' stroke-width='2' stroke-linecap='round' stroke='%23008000'/%3E%3Crect x='3' y='3' width='18' height='18' rx='9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' stroke='%23008000' /%3E%3C/svg%3E");

    --xmark-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Ctitle%3ENon%3C/title%3E%3Cpath d='M15 9L9 15' stroke-width='2' stroke-linecap='round' stroke='%23333333'/%3E%3Cpath d='M9 9L15 15' stroke-width='2' stroke-linecap='round' stroke='%23333333'/%3E%3Crect x='3' y='3' width='18' height='18' rx='9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' stroke='%23333333'/%3E%3C/svg%3E");
    --xmark-hover-icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Ctitle%3ENon%3C/title%3E%3Cpath d='M15 9L9 15' stroke-width='2' stroke-linecap='round' stroke='%23ff0000'/%3E%3Cpath d='M9 9L15 15' stroke-width='2' stroke-linecap='round' stroke='%23ff0000'/%3E%3Crect x='3' y='3' width='18' height='18' rx='9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' stroke='%23ff0000'/%3E%3C/svg%3E");
    --mail-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='6' width='18' height='12' rx='2' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.5737 7L12 13L3.42635 7' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --send-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4L12.854 20L10.5324 12.4676M19 4L3 10.146L10.5324 12.4676M19 4L10.5324 12.4676' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --reply-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.6 20V13.6C18.6 10.5072 16.0928 8 13 8H6.59998' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 8L9.59998 12' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 8L9.59998 4' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

    --plane-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4L12.854 20L10.5324 12.4676M19 4L3 10.146L10.5324 12.4676M19 4L10.5324 12.4676' stroke='%23c2190e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --outbox-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00003 11.7501L11.5 17.1501' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.00003 11.7501L11.5 6.35016' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 11.7501L16.5 17.1501' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 11.7501L16.5 6.35016' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    --inbox-icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 11.7501L11.5 17.1501' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 11.7501L11.5 6.35016' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 11.7501L6.50003 17.1501' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 11.7501L6.50003 6.35016' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    height: var(--header-height);
    background-color: var(--background-shade);

    .logo {
        position: absolute;
        top: 0;
        left: 20px;
        // transform: translateY(-50%);
        height: 200px;
        width: 200px;
        // background-color: pink;
        // background-image: url(../images/logo.png);
        background-image: var(--logo);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        // filter: brightness(160%) invert(100%);
        // background-color: blue;
        opacity: 0.8;
        cursor: pointer;
        // transition-property: filter;
        // transition-duration: var(--scheme-transition);
        // object-fit: contain;

     



    }

    .title {
        position: relative;
        height: 100%;
        width: calc(100% - var(--menu-width));
        margin-left: var(--menu-width);

        h1 {
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5em;
            font-weight: bold;
            user-select: none;
        }
    }

    .logout {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 0.8em;
        user-select: none;
    }

    .mail {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;
        background-image: var(--mail-icon);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.6;
        cursor: pointer;
        user-select: none;

        &:hover, &.inside {
            opacity: 1;
        }

        &.new {
            opacity: 1;
            animation-name: newmail;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
        }
    }

}

@keyframes newmail {
    from {
        filter:
            drop-shadow(5px -5px 5px var(--highlight-midblend))
            drop-shadow(5px 5px 5px var(--highlight-midblend))
            drop-shadow(-5px 5px 5px var(--highlight-midblend))
            drop-shadow(-5px -5px 5px var(--highlight-midblend))
        ;
    }
    to {
        filter:
            drop-shadow(0 0 0px var(--highlight-midblend))
            drop-shadow(0 0 0px var(--highlight-midblend))
            drop-shadow(0 0 0px var(--highlight-midblend))
            drop-shadow(0 0 0px var(--highlight-midblend))
        ;
    }
}

footer {
    position: relative;
    width: 100%;
    height: var(--footer-height);
    border-top: 1px solid #333;

    .copyright {
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: center;
        user-select: none;
    }

}



main {
    position: relative;
    display: flex;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.menu {
    user-select: none;
    position: relative;
    height: inherit;
    min-width: var(--menu-width);
    background-image: linear-gradient(to left, var(--background-gradient), var(--background-color));
    padding: 16px;
    font-size: 1.1em;

    ul {
        position: sticky;
        top: 20px;
        list-style-type: none;
    }

    li {
        margin: 8px 0;
        height: 22px;
        line-height: 22px;
        &.menu__spacer {
            height: 6px;
            line-height: 6px;
            margin: 6px 0 0 0;

            &::after {
                content: '                             ';
                color: var(--text-shade);
                text-decoration: line-through;
                text-decoration-color: var(--highlight-blend);
                position: relative;
                display: inline-block;
            }
        }



    }

    li::before {
        content: '';
        position: relative;
        display: inline-block;
        width: 24px;
        text-align: center;
    }

    li.active::before {
        content: ' 📚';
    }

    &__item {
        &__sub {
            font-size: 0.85em;
        }
    }





}


.content {
    position: relative;
    width: 100%;
    padding: 20px;

    div.error {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--highlight);
        font-size: 2em;
    }

    div.spacer {
        height: 1px;
        background-color: var(--background-shade);
    }

    div.back {
        position: sticky;
        top: 20px;
        left: 20px;

        a {
            font-size: 0;

            &:hover::after {
                opacity: 1;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 36px;
                height: 25px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: var(--back-icon);
                opacity: 0.5;
            }
        }
    }

    div.scroll {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: calc(100% - 40px);
        user-select: none;

        &__up {
            position: sticky;
            top: 20px;
            width: 40px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: var(--arrow-up-icon);
            opacity: 0.5;
            z-index: 999;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        &__down {
            position: sticky;
            top: calc(100vh - 60px);
            width: 40px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: var(--arrow-down-icon);
            opacity: 0.5;
            cursor: pointer;
            z-index: 999;

            &:hover {
                opacity: 1;
            }
        }


    }

}

@media (max-width: 1100px) {
    div.back {
        visibility: hidden;
    }
    div.scroll {
        visibility: hidden;
    }
    div.view_table {
        display: none;
    }
}


button, input[type="button"], input[type="submit"] {
    background-color: var(--highlight);
    color: var(--text-color);
    padding: 4px 10px;
    font-weight: bold;
    height: 28px;
    user-select: none;
}


a {
    color: var(--text-color);
    text-decoration: none;
    background-image: linear-gradient(0deg, var(--highlight), var(--highlight));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 15%;

    &:hover {
        background-size: 100% 100%;
        transition-duration: 200ms;
    }

    &.no-underline{
        background-image: none;
    }

    &.stroke {
        color: var(--text-shade);
        text-decoration: line-through;
        text-decoration-color: var(--stroke-color);
    }
}

em {
    color: var(--text-highlight);
}

span.stroke {
    color: var(--text-shade);
    text-decoration: line-through;
    text-decoration-color: var(--stroke-color);
}
