.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity visibility;
    transition-duration: 200ms;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background-color);
        opacity: 0.5;
    }

    &.show {
        visibility: visible;
        opacity: 1;
    }

    &-object {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        // opacity: var(--modal-opacity);
    }

    &.show &-object {
        display: block;
    }

}


.modal-loading {
    width: 150px;
    height: 150px;
    opacity: 0.3;
    user-select: none;

    background-image: var(--loading-icon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.modal.show:has(.modal-loading) .modal-loading {
    animation-name: loading;
    animation-duration: var(--modal-spin);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loading {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}




.modaltest {
    width: 100px;
    height: 100px;
    background-color: red;
}