.system_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__item {
        width: 250px;
        cursor: pointer;
        color: var(--highlight);
        user-select: none;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        svg {
            fill: var(--highlight);
        }

        &__title {
            text-align: center;
            font-weight: bold;
            font-size: 1.1em;
        }
    }

}

.system_anim {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity visibility;
    transition-duration: 500ms;
    

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
        background-color: var(--modal-color);
    }

    &__database {
        position: absolute;
        width: 40vmin;
        height: 40vmin;
        left: 0;
        right: 0;
        margin: auto;
        // left: 50%;
        top: -50vmin;
        // transform: translateX(-50%);
    }

    &.show.hide {
        .system_anim__database {
            animation-name: database_out;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            animation-timing-function: cubic-bezier(.51,.02,.86,.58);
        }
    }

    &.show {
        visibility: visible;
        opacity: 1;
        transition-duration: 1s;

        .system_anim__database {
            --blink-speed: 200ms;
            transform-origin: center top;
            opacity: 0.9;
            
            animation-name: database_in;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(.57,.09,.52,1.34);
            
            &__greenlight {
                animation-name: database_light;
                animation-duration: var(--blink-speed);
                animation-iteration-count: infinite;
                animation-timing-function: steps(1);
            }
    
            &__redlight {
                animation-name: database_light;
                animation-duration: var(--blink-speed);
                animation-iteration-count: infinite;
                animation-delay: calc(0ms - (var(--blink-speed) / 2));
                animation-timing-function: steps(1);
            }

        }

    }

}

@keyframes database_in {
    from {
        top: -20vmin;
        transform: scale(0);
        filter: blur(25px);
    }
    to {
        top: calc(50vh - 20vmin);
        transform: scale(1);
        filter: blur(0px);
    }
}

@keyframes database_out {
    from {
        top: calc(50vh - 20vmin);
        filter: blur(0px);
    }
    to {
        top: -50vmin;
        filter: blur(25px);
    }
}

@keyframes database_light {
    0%, 100% { fill: #abbd81; }
    50% { fill: #e15b64; }
}
