div.question_types__container {
    --icon-width: 100px;
    
    display: grid;
    grid-template-columns: repeat(3, var(--icon-width));
    justify-content: space-between;
    background-color: var(--background-color);
    // border: 1px solid var(--text-shade);
    border: 3px solid var(--shadow-color);
    box-shadow: 0 0 20px var(--shadow-color); //var(--text-color);
    padding: 20px;
    gap: 50px;

    opacity: var(--modal-opacity);

    div.question_type {
        position: relative;
        width: var(--icon-width);
        height: calc(var(--icon-width) + 30px);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        cursor: pointer;
        opacity: 0.5;
        
        &.type-thematique { background-image: var(--type-thematique-icon); }
        &.type-anagramme { background-image: var(--type-anagramme-icon); }
        &.type-orthographe { background-image: var(--type-orthographe-icon); }
        &.type-association { background-image: var(--type-association-icon); }
        &.type-indice { background-image: var(--type-indice-icon); }
        &.type-petitindice { background-image: var(--type-petitindice-icon); }

        &:hover { opacity: 1; }

        &__name {
            position: absolute;
            text-align: center;
            color: var(--highlight);
            user-select: none;
            font-size: 1em;
            font-weight: bold;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

    }

}

